.ultimoli {
  background-color: rgb(5, 137, 240);
}

.lista li:nth-child(odd) {
  text-decoration: green underline;
}

.lista {
  display: flex;
  list-style: none;
  align-items: center;
}
.lista li {
  margin-left: 10px;
}

.lista li:nth-child(1)::after {
  content: "*";
}

.lista li:nth-child(2)::after {
  content: "&";
}

.lista li:nth-child(3)::after {
  content: "@";
}

.lista li:nth-child(4)::after {
  content: "$";
}

.lista li:nth-child(5)::after {
  content: "*";
}

.lista li:nth-child(6)::after {
  content: "º";
}

.inglesli {
  font-size: 200%;
  text-transform: uppercase;
}

#provincias li:nth-child(1) {
  list-style-type: upper-roman;
}

#provincias li:nth-child(3) {
  list-style-type: upper-roman;
}

#provincias li:nth-child(4) {
  list-style-type: upper-roman;
}
