body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 187, 112);
  font-family: Arial, Helvetica, sans-serif;
}
.enunciado {
  padding: 50px;
  text-align: center;
  font-size: 400%;
  color: rgb(255, 255, 255);
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 30px;
}

.mi-articulo1 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(253, 251, 251);
  padding: 0px;
  margin: 30px;
  width: 280px;
}

.mi-articulo2 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(253, 251, 251);
  padding: 0px;
  margin: 30px;
  width: 280px;
}

.mi-articulo1:hover {
  transform: scale(1.05);
}
.mi-articulo2:hover {
  transform: scale(1.05);
}

footer {
  background-color: rgb(134, 73, 134);
  color: white;
  padding: 5px;
  border: 0px;
}
.imagen {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}
.redes-sociales {
  display: flex;
  justify-content: center;
}
a {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
h1 {
  margin-bottom: 10px;
}
.efecto {
  animation-name: aparicion;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes aparicion {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.efecto1 {
  animation-name: efecto1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes efecto1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.efecto2 {
  animation-name: efecto2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes efecto2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.efecto3 {
  animation-name: efecto3;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes efecto3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
