body {
  background-color: rgb(245, 245, 245);
  font-family: Arial, Helvetica, sans-serif;
}

.mi-cabecera {
  color: white;
  background-color: rgb(0, 0, 0);
  text-align: center;
  height: 300px;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 28px;
  padding-left: 28px;
}
.texto-cabecera {
  padding-right: 30px;
  padding-right: 30px;
}

h1 {
  font-size: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.texto-subtitulo {
  font-size: 200%;
}

main {
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
}
.primer-parrafo {
  color: gray;
  height: 30px;
  border-bottom: 2px solid gray;
}
.original {
  width: 97%;
  height: auto;
}
.ultimo-parrafo {
  margin-bottom: 30px;
}
fieldset {
  border: 0px;
  padding-left: 0px;
}
#nome_id {
  background-color: gray;
  border: 5px solid gray;
  width: 100%;
  height: auto;
}
#comentarios_id {
  min-height: 100px;
  background-color: gray;
  border: 5px solid gray;
  width: 100%;
  height: auto;
}
.boton {
  color: white;
  border: 0px;
  background-color: black;
  width: 100px;
  height: 50px;
}
button {
  margin-top: 15px;
  border: 0px;
}
@media (min-width: 900px) {
  .mi-cabecera {
    text-align: left;
    padding-right: 450px;
  }
  .texto-cabecera {
    font-size: 130%;
  }
  main {
    max-width: 800px;
    min-width: 400px;
    margin: 0 auto;
  }
  .primer-parrafo {
    font-size: 180%;
  }
  .original {
    width: 30%;
    height: auto%;
    flex-direction: row;
    float: right;
  }
}
