body {
  max-width: 800px;
  min-width: 400px;
  margin: 0 auto;
}

.campo-obligatorio {
  border-color: red;
}

fieldset {
  background-color: rgb(216, 217, 218);
  padding: 1rem;
}
fieldset:hover {
  background-color: #a5a5ac;
}
.externo {
  background-color: white;
}

.borde {
  border-bottom: 5px solid rgb(0, 0, 0);
}
.boton {
  color: white;
  background-color: black;
  border: 0;
}
button {
  border: 0;
}
